<a href="https://colab.research.google.com/github/20adityasingh/MLPractice2/blob/master/MLPractice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [117]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

In [118]:
data=pd.read_csv('churn_prediction.csv')
data.head()

,customer_id,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,...,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn,last_transaction
0,1,2101,66,Male,0.0,self_employed,187.0,2,755,1458.71,...,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0,2019-05-21
1,2,2348,35,Male,0.0,self_employed,NaN,2,3214,5390.37,...,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0,2019-11-01
2,4,2194,31,Male,0.0,salaried,146.0,2,41,3913.16,...,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0,NaT
3,5,2329,90,NaN,NaN,self_employed,1020.0,2,582,2291.91,...,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1,2019-08-06
4,6,1579,42,Male,2.0,self_employed,1494.0,3,388,927.72,...,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1,2019-11-03

In [119]:
data.isnull().sum()

customer_id                          0
vintage                              0
age                                  0
gender                             525
dependents                        2463
occupation                          80
city                               803
customer_nw_category                 0
branch_code                          0
current_balance                      0
previous_month_end_balance           0
average_monthly_balance_prevQ        0
average_monthly_balance_prevQ2       0
current_month_credit                 0
previous_month_credit                0
current_month_debit                  0
previous_month_debit                 0
current_month_balance                0
previous_month_balance               0
churn                                0
last_transaction                     0
dtype: int64

In [120]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28382 entries, 0 to 28381
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   customer_id                     28382 non-null  int64
 1   vintage                         28382 non-null  int64
 2   age                             28382 non-null  int64
 3   gender                          27857 non-null  object
 4   dependents                      25919 non-null  float64
 5   occupation                      28302 non-null  object
 6   city                            27579 non-null  float64
 7   customer_nw_category            28382 non-null  int64
 8   branch_code                     28382 non-null  int64
 9   current_balance                 28382 non-null  float64
 10  previous_month_end_balance      28382 non-null  float64
 11  average_monthly_balance_prevQ   28382 non-null  float64
 12  average_monthly_balance_prevQ2  28382 non-null  float64
 13  current_month_credit            28382 non-null  float64
 14  previous_month_credit           28382 non-null  float64
 15  current_month_debit             28382 non-null  float64
 16  previous_month_debit            28382 non-null  float64
 17  current_month_balance           28382 non-null  float64
 18  previous_month_balance          28382 non-null  float64
 19  churn                           28382 non-null  int64
 20  last_transaction                28382 non-null  object
dtypes: float64(12), int64(6), object(3)
memory usage: 4.5+ MB

In [121]:
data['current_balance'].describe()

count    2.838200e+04
mean     7.380552e+03
std      4.259871e+04
min     -5.503960e+03
25%      1.784470e+03
50%      3.281255e+03
75%      6.635820e+03
max      5.905904e+06
Name: current_balance, dtype: float64

In [122]:
churn_by_occupation = data.groupby('occupation')['churn'].sum().reset_index()
churn_by_occupation.rename(columns={'churn': 'number_of_churn'}, inplace=True)

print(churn_by_occupation)

      occupation  number_of_churn
0        company                4
1        retired              305
2       salaried             1147
3  self_employed             3467
4        student              324

In [123]:
nan_mask = data['occupation'].isna()

nan_churn_count = data[nan_mask]['churn'].sum()

print("Number of churned customers with NaN occupation:", nan_churn_count)

Number of churned customers with NaN occupation: 13

In [124]:
si = SimpleImputer(missing_values=np.nan, strategy='most_frequent') # Create a SimpleImputer object
data['occupation'] = si.fit_transform(data[['occupation']]).flatten() # Fit and transform the data

In [125]:
data['gender'] = np.where(data['gender'].isna(), 'Not_to_say', data['gender'])

In [126]:
data['gender'].unique()

array(['Male', 'Not_to_say', 'Female'], dtype=object)

In [127]:
data['dependents'].corr(data['churn'])

0.033486736391087624

In [128]:
data.isnull().sum()

customer_id                          0
vintage                              0
age                                  0
gender                               0
dependents                        2463
occupation                           0
city                               803
customer_nw_category                 0
branch_code                          0
current_balance                      0
previous_month_end_balance           0
average_monthly_balance_prevQ        0
average_monthly_balance_prevQ2       0
current_month_credit                 0
previous_month_credit                0
current_month_debit                  0
previous_month_debit                 0
current_month_balance                0
previous_month_balance               0
churn                                0
last_transaction                     0
dtype: int64

In [129]:
data['last_transaction'].unique()

array(['2019-05-21', '2019-11-01', 'NaT', '2019-08-06', '2019-11-03',
       '2019-09-24', '2019-07-12', '2019-12-12', '2019-12-31',
       '2019-12-26', '2019-12-11', '2019-11-14', '2019-03-03',
       '2019-11-09', '2019-12-28', '2019-10-23', '2019-11-30',
       '2019-12-08', '2019-12-18', '2019-12-27', '2019-12-22',
       '2019-12-04', '2019-11-25', '2019-10-15', '2019-08-28',
       '2019-12-21', '2019-09-25', '2019-10-31', '2019-12-05',
       '2019-09-22', '2019-12-24', '2019-12-20', '2019-07-24',
       '2019-12-17', '2019-09-27', '2019-12-14', '2019-09-06',
       '2019-10-16', '2019-12-13', '2019-12-03', '2019-12-06',
       '2019-07-11', '2019-11-15', '2019-12-19', '2019-12-25',
       '2019-08-15', '2019-08-27', '2019-11-12', '2019-05-15',
       '2019-11-16', '2019-10-17', '2019-05-26', '2019-10-22',
       '2019-12-01', '2019-07-04', '2019-11-22', '2019-04-16',
       '2019-06-26', '2019-02-06', '2019-10-11', '2019-03-09',
       '2019-10-29', '2019-07-10', '2019-09-26', '2019-11-29',
       '2019-09-20', '2019-11-21', '2019-07-20', '2019-09-12',
       '2019-05-14', '2019-10-05', '2019-11-26', '2019-10-06',
       '2019-11-13', '2019-08-24', '2019-06-09', '2019-01-06',
       '2019-04-18', '2019-12-10', '2019-08-21', '2019-06-05',
       '2019-11-08', '2019-12-07', '2019-07-13', '2019-08-18',
       '2019-08-04', '2019-03-20', '2019-08-16', '2019-01-24',
       '2019-07-16', '2019-06-14', '2019-09-14', '2019-02-26',
       '2019-11-23', '2019-05-18', '2019-11-06', '2019-10-24',
       '2019-09-13', '2019-09-04', '2019-01-08', '2019-10-20',
       '2019-09-19', '2019-04-17', '2019-08-29', '2019-10-30',
       '2019-11-05', '2019-10-03', '2019-10-01', '2019-08-07',
       '2019-04-25', '2019-11-17', '2019-11-20', '2019-08-02',
       '2019-08-30', '2019-10-07', '2019-09-05', '2019-10-02',
       '2019-01-15', '2019-09-07', '2019-12-02', '2019-10-04',
       '2019-02-15', '2019-03-07', '2019-02-27', '2019-10-13',
       '2019-08-01', '2019-03-14', '2019-07-17', '2019-05-08',
       '2019-06-28', '2019-11-07', '2019-11-19', '2019-12-15',
       '2019-10-19', '2019-12-30', '2019-10-12', '2019-07-21',
       '2019-07-22', '2019-06-02', '2019-03-08', '2019-03-19',
       '2019-07-19', '2019-09-03', '2019-11-02', '2019-07-31',
       '2019-05-12', '2019-10-21', '2019-02-14', '2019-11-28',
       '2019-02-21', '2019-10-08', '2019-06-21', '2019-01-29',
       '2019-06-27', '2019-07-06', '2019-06-07', '2019-09-18',
       '2019-07-25', '2019-08-26', '2019-08-08', '2019-03-06',
       '2019-05-23', '2019-03-16', '2019-07-09', '2019-10-09',
       '2019-12-16', '2019-07-30', '2019-11-24', '2019-04-19',
       '2019-04-07', '2019-07-23', '2019-06-13', '2019-04-23',
       '2019-11-18', '2019-12-09', '2019-01-19', '2019-10-27',
       '2019-03-22', '2019-06-22', '2019-04-09', '2019-08-14',
       '2019-08-09', '2019-02-05', '2019-06-29', '2019-07-05',
       '2019-04-28', '2019-07-03', '2019-03-29', '2019-05-04',
       '2019-08-17', '2019-06-23', '2019-08-31', '2019-01-25',
       '2019-09-08', '2019-05-25', '2019-04-26', '2019-05-29',
       '2019-08-20', '2019-09-21', '2019-05-11', '2019-06-18',
       '2019-11-04', '2019-07-02', '2019-01-18', '2019-10-18',
       '2019-01-02', '2019-02-02', '2019-07-26', '2019-02-10',
       '2019-05-09', '2019-05-06', '2019-03-01', '2019-11-27',
       '2019-05-01', '2019-05-17', '2019-09-11', '2019-10-25',
       '2019-05-30', '2019-09-17', '2019-03-26', '2019-06-04',
       '2019-12-23', '2019-05-07', '2019-04-20', '2019-10-28',
       '2019-02-23', '2019-04-03', '2019-09-28', '2019-03-05',
       '2019-01-30', '2019-01-26', '2019-02-04', '2019-06-08',
       '2019-04-04', '2019-06-25', '2019-07-18', '2019-08-13',
       '2019-08-22', '2019-04-27', '2019-06-30', '2019-01-04',
       '2019-06-01', '2018-12-31', '2019-04-02', '2019-08-10',
       '2019-01-23', '2019-09-01', '2019-02-17', '2019-06-06',
       '2019-03-23', '2019-12-29', '2019-09-15', '2019-06-20',
       '2019-04-06', '2019-07-28', '2019-09-10', '2019-03-30',
       '2019-05-24', '2019-01-22', '2019-04-12', '2019-03-28',
       '2019-06-19', '2019-11-11', '2019-03-27', '2019-05-16',
       '2019-06-12', '2019-02-16', '2019-04-24', '2019-02-20',
       '2019-05-05', '2019-01-16', '2019-11-10', '2019-03-13',
       '2019-05-31', '2019-01-01', '2019-02-25', '2019-04-21',
       '2019-07-27', '2019-04-30', '2019-02-24', '2019-09-09',
       '2019-09-23', '2019-03-15', '2019-06-11', '2019-07-07',
       '2019-02-12', '2019-04-11', '2019-06-15', '2019-01-03',
       '2019-05-03', '2019-09-29', '2019-01-13', '2019-04-15',
       '2019-04-05', '2019-02-28', '2019-02-01', '2019-05-19',
       '2019-05-02', '2019-04-08', '2019-03-10', '2019-07-01',
       '2019-04-13', '2019-05-28', '2019-08-23', '2019-03-12',
       '2019-03-21', '2019-05-22', '2019-03-02', '2019-02-08',
       '2019-01-10', '2019-09-30', '2019-03-11', '2019-02-03',
       '2019-03-17', '2019-04-10', '2019-01-27', '2019-02-22',
       '2019-02-09', '2019-02-07', '2019-01-09', '2019-02-19',
       '2019-03-24', '2019-05-20', '2019-05-10', '2019-10-14',
       '2019-08-05', '2019-08-03', '2019-06-16', '2019-09-16',
       '2019-10-26', '2019-01-20', '2019-01-12', '2019-01-11',
       '2019-01-17', '2019-09-02', '2019-01-21', '2019-07-29',
       '2019-01-28', '2019-01-05', '2019-04-14', '2019-04-01',
       '2019-04-29', '2019-03-18', '2019-06-24', '2019-03-31',
       '2019-05-13', '2019-08-12', '2019-08-19', '2019-06-17',
       '2019-07-08', '2019-05-27', '2019-06-03', '2019-10-10',
       '2019-02-11', '2019-07-15', '2019-01-14', '2019-02-13',
       '2019-03-04', '2019-07-14', '2019-08-25', '2019-01-31'],
      dtype=object)

In [130]:
data.drop('dependents',axis=1,inplace=True)

In [131]:
data.drop('city',axis=1,inplace=True)

In [132]:
data = pd.get_dummies(data, columns=['gender', 'occupation'],drop_first=True)
data.drop('last_transaction',axis=1,inplace=True)

In [133]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report , confusion_matrix, roc_auc_score, recall_score, precision_score, f1_score

In [134]:
x = data.drop('churn',axis=1)
y = data['churn']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [135]:
lr = LogisticRegression(class_weight='balanced')
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
accur = lr.score(x_test,y_test)
print(accur)

0.8048150322959483

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [136]:
rec = recall_score(y_test,y_pred)
print(rec)

0.6375968992248062

In [137]:
preci = precision_score(y_test,y_pred)
print(preci)

0.47270114942528735

In [138]:
f1 = f1_score(y_test,y_pred)
print(f1)

0.5429042904290429

In [139]:
conf_matrix = confusion_matrix(y_test,y_pred)
print(conf_matrix)

[[5866 1101]
 [ 561  987]]